.carousel {
  padding: 15px;
  background-color: $light-color;
  position: relative;
  width: 100%;

  &-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid $border-color;
    // position: relative;
  }
}


.carousel-slide {
  background-image: url("../img/carousel-item-bg.png");
  background-position: 50% 50%;
  background-size: cover;
  display: none;
  align-items: center;
  padding: 20px;
  p,
  h2 {
    color: white;
    overflow: hidden;
    max-height: 80px;
  }

  &__right {
    margin-left: 20px;
    flex-basis: 70%;
  }
  &.active {
    display: flex;
  }
  &__left img {
    max-width: 100%;
  }
}

.carousel-button {
  position: absolute;
  top: calc(50% - 18px);
  cursor: pointer;

  &.prev {
    left: 0px;
  }
  &.next {
    transform: rotate(180deg);
    right: 0px;
  }


}

@media (max-width: $small) {
  .carousel-slide {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    &__left {
      flex-basis: 100%;
    }
    &__right {
      flex-basis: 100%;
    }
  }
}