.carousel {
  //flex-basis: 100%;
  padding: 15px;
  background-color: $bg-color;
  position: relative;
  width: 100%;
}
.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 5px solid white;
  background-image: url("../img/carousel-item-bg.png");
  background-position: 50% 50%;
  background-size: cover;
  //height: 100%;
  //width: 100%;
}
.carousel-content__left,
.carousel-content__right {
  padding: 15px;
  p,
  h1 {
    color: white;
  }
}
.carousel-button.prev {
  position: absolute;
  top: calc(50% - 18px);
  left: 0px;
  a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.carousel-button.next {
  position: absolute;
  top: calc(50% - 18px);
  right: 0px;
  transform: rotate(180deg);
  a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}