.carousel {
  padding: 15px;
  background-color: $light-color;
  position: relative;
  width: 100%;

  &-slides {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid $border-color;
    
  }
}


.carousel-slide {
  background-image: url("../img/carousel-item-bg.png");
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 20px;
 
  p,
  h1 {
    color: white;
  }

  &__right {
    margin-left: 20px;
  }
}

.carousel-button {
  position: absolute;
  top: calc(50% - 18px);

  &.prev {
    left: 0px;
  }
  &.next {
    transform: rotate(180deg);
    right: 0px;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
