* {
  font-family: verdana, arial, sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background-image: url("../img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 850px;
  width: 100%;
  padding:  0 15px;
  min-width: 230px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 15px;
  background-color: rgba(150, 150, 150, 0.3);
  border: 1px solid rgb(98, 98, 98);
}

h2 {
  color: $accent-color;
  font-weight: normal;
  font-size: 2rem;
}
p {
  color: $base-color;
  line-height: 1.75;
}

@media (max-width: $small) {
  .container {
    flex-direction: column;
  }
}