.footer {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 100%;
    min-height: 235px;
    margin-top: 30px;
  }
}

.footer-left {
  flex-basis: 40%;
}

.footer-right {
  flex-basis: 60%;
  position: relative;
}

.twitter-logo {
  display: inline-block;
}
.twitter-definition {
  display: inline-block;
  b {
    margin: 0 10px;
    color: white;
    font-size: 1.5rem;
  }
  p {
    margin: 0 10px;
    color: #858585;
    i {
      color: #0072b9;
    }
  }
  
}
.twitter-post {
  margin: 20px 10px 0 35px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  p:first-of-type {
    color: #858585;
  }
  p:last-of-type {
    color: #0072b9;
  }
  ::before {
    content: url("../img/twitter-speech-bubble.png");
    position: absolute;
    top: -18px;
    left: 0px;
  }
}


.copyright {
  margin: 20px;
  text-align: right;
  p {
    color: white;
  }
}
.footer-logo1 {
  max-width: 50%;
  position: absolute;
  left: 0;
  img {
    margin-left: 20px;
    width: 100%;
    height: auto;
  }
}
  .footer-logo2 {
    margin-left: 50px;
    position: absolute;
    right: 0;
  }

  @media (max-width: 850px) {
    .footer .menu {
      display: none;
    }
    .footer .wrapper {
      flex-direction: column;
    }
    .footer-right {
      display: flex;
      flex-direction: column;
    }
    .footer-logo1 {
      display: none;
    }
    .footer-logo2 {
      position: relative;
      text-align: center;
      margin: 0;
    }
    .copyright {
      text-align: center;
    }
  }